html > * {
  background-color: #000000;
  overflow-x: hidden;
}

.header {
  align-items: center;
  text-align: center;
  color: #eab11f;
  font-size: 5em;
  font-family: "HeaderMuromets";
  background-color: #000000;
}
.flex-cont {
  max-height: 30vh;
}
.image-container {
  max-width: 20vw;
  max-height: auto;
}
.family-photo {
  background-color: #000000;
  border-radius: 10px;
}
.description-text-short {
  color: #ffffff;
  width: 50vw;
  margin-top: 10vh;
  font-family: sans-serif;
  word-spacing: 1px !important;
}
.button-details {
  float: right;
  margin-top: 8vh;
  background-color: #eab11f;
  color: #000;
}
@font-face {
  font-family: "HeaderMuromets";
  src: url("./fonts/10451.ttf");
  font-weight: normal;
  font-style: normal;
}
.art {
  border-radius: 10px;
  max-height: auto;
  max-width: 20vw;
}
.lef { 
padding: 10%;
align-items: center;
justify-content: center;
}
.t {
  margin-top: 20vh;
}
.c {
  justify-content: center;
  justify-self: center;
  
}