html > * {
  background-color: #000000;
  overflow-x: hidden;
}

.hoverable:hover {
  opacity: 80%;
}
.hoverable {
  transition: opacity 1s;
}

.button-container {
  padding: 30px 20px 20px 60px;
}
.button-back {
  min-width: 5vw;
  max-width: 20vw;
  max-height: auto;
}
.header {
  align-items: center;
  text-align: center;
  color: #eab11f;
  font-size: 5em;
  font-family: "HeaderMuromets";
  background-color: #000000;
}
.flex-cont {
  max-height: 30vh;
}
.image-container {
  max-width: 20vw;
  max-height: auto;
}
.family-photo {
  background-color: #000000;
  border-radius: 10px;
}
.description-text-short {
  color: #ffffff;
  width: 50vw;
  margin-top: 10vh;
  font-family: sans-serif;
  word-spacing: 1px !important;
}
.button-details {
  float: right;
  margin-top: 8vh;
  background-color: #eab11f;
  color: #000;
}
@font-face {
  font-family: "HeaderMuromets";
  src: url("./fonts/10451.ttf");
  font-weight: normal;
  font-style: normal;
}
.art {
  border-radius: 10px;
  max-height: auto;
  max-width: 20vw;
}
.lef { 
padding: 10%;
align-items: center;
justify-content: center;
}
.t {
  margin-top: 10vh;
}
.c {
  justify-content: center;
  justify-self: center; 
}
.bigArt {
  margin-top: 2vh;
  border-radius: 10px;
  max-height: 60vh;
  max-width: auto;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.hoverable:hover {
  opacity: 80%;
}
.hoverable {
  transition: opacity 1s;
}

.button-container {
  padding: 30px 20px 20px 60px;
}
.button-back {
  min-width: 5vw;
  max-width: 20vw;
  max-height: auto;
}
.padded {
  padding: 20px 20px 20px 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #eab11f; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e7ad1a; 
}

@media screen and (max-width:800px) {
  .col {
    display: normal;
  }
  .art {

      width:100vw !important;
      height: auto;
      margin-top: 30vh;
  }
}
.mobile {
  display: none;
}
@media only screen and (max-width: 640px) {
  /* For mobile phones: */
  .desktop {
    display: none !important;
  }
  .mobile {
    display: unset !important;
  }
  .p {
    padding-left: 5vh;
    width: 100%;
    padding-right: 5vh;
    line-height: 5vh;
  }
  .header {
    font-size: 3em;
  }
  .mobile-image {
    width: 100%;
    height: auto;
    padding-left: 5vw;
  }
  .button-details {
    background-color: #eab11f;
    color: #000;
    margin-right: 10vw;
    margin-top: 1vh;
  }
  .padded {
    font-size: 1.2em;
  }
  .mobile-art {
    width: 80%;
    height: auto;
  }
}